.centeredFeature {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center; /* vertical centering */
    align-items: center;     /* horizontal centering */
    text-align: center;
  }