.footer {
  background-color: rgba(0, 0, 0, 0.05); /* much more transparent */
  color: #fff;
  padding: 20px;
  font-family: 'Arial', sans-serif;
}

.socials {
  display: flex;
  justify-content: center;
  text-align: center;
  padding-top: 20px;
  gap: 24px;
}

.cr {
  text-align: center;
  padding-top:10px;
  padding-bottom: 10px;
}

.socials a {
  color: #fff;
  font-size: 2rem;
  transition: color 0.2s;
}

.socials a:hover {
  color: #77797bc3;
}